html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: url('/my_resources/welcome.png') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
}

/* Switch to solid color on mobile */
@media (max-width: 768px) {
    body {
        background: #4c74b1;
    }
}

.card-custom {
    border: none;
    border-radius: 15px;
}